{% if page.answers_tag %}
{% assign askbot_tag = page.answers_tag %}
{% else %}
{% assign askbot_tag = page.title | downcase %}
{% endif %}

<section class="questions post-content">
    <div id='result' class="question"></div>
</section>


<script type="text/javascript" src="/assets/js/jquery-min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.jfeed.pack.js"></script>

<script type="text/javascript">
jQuery.browser = {};
(function () {
    jQuery.browser.msie = false;
    jQuery.browser.version = 0;
    if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
        jQuery.browser.msie = true;
        jQuery.browser.version = RegExp.$1;
    }
})();
jQuery(function() {
    jQuery.getFeed({
        url: 'https://answers.ros.org/feeds/rss/?tags={{ askbot_tag }}',
        success: function(feed) {

            jQuery('#result').append(
            '<div class="answers_header">'
            + '<h3>Answers.ros.org Recent Questions '
            + 'Tagged:  `<kbd>{{ askbot_tag }}</kbd>`</h3>'
            + '<p>Browse '
            + '<a href="https://answers.ros.org/questions/scope:all/sort:activity-desc/tags:{{ askbot_tag }}/page:1/">recent questions</a>'
            + ' or see the '
            + '<a href="https://answers.ros.org/questions/scope:all/sort:votes-desc/tags:{{ askbot_tag }}/page:1/">higest voted</a>'
            + '</p>'
            + '</div>');
            
            var html = '';
            
            html += '<div class="question_list">'
            + '<h4>Recent questions preview:</h4>'
            + '<ul>'

            for(var i = 0; i < feed.items.length && i < 50; i++) {
            
                var item = feed.items[i];
                
                html += '<li>'
                + '<a href="'
                + item.link
                + '">'
                + '<div class="answer">'
                + '<h3>Question: '
                + item.title
                + '</h3>';
                
                html += '<div class="updated">'
                + 'Asked on: '+ item.updated
                + '</div>';
                
                html += '<div>'
                + item.description
                + '</div>'
                + '</div>';
                + '</a>'
                + '</li>'
            }
            html += ' </ul>'
            + '</div>'
            
            jQuery('#result').append(html);
        }    
    });
});
</script>
