---
layout: default
main-class: 'manipulator'
---

<main class="home" id="post" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
    <div class="header-category">
      <img src="/assets/img/manipulator.png" align="right" width="100px"/>
      <h1 class="title-category">Manipulator</h1>
    </div>
    <div id="grid" class="row flex-grid">
    {% for post in site.posts %}
        {% if post.main-class == 'manipulator' %}
          {% include box-item.html %}
        {% endif %}
    {% endfor %}
    </div>
</main>
