themes = {
    post-aerial: #2DA0C3,
    post-component: #B31917,
    post-marine: #232aaf,
    post-meta: #7D669E,
    post-ground: #10aa10,
    post-sensor: #7AAB13
}

for theme, category-color in themes
    .{theme}
        .title-category
            color category-color
        .post-content
            h1,h2,h3,h4
                color category-color
            a
                color category-color
                border-bottom 2px dashed category-color
                &:hover
                    background-color category-color
                    color #fff
            strong
                color category-color
            p,
            li
                code
                    color category-color
            blockquote
                border-left .313rem solid category-color

        .header-post,
        .header-site
            background-color category-color
            h1
                text-shadow 3px 3px darken(category-color, 20%)
        .bar-header
            .logo a
                color category-color
        .author .email
            color category-color

        .share a
            &:hover svg
                fill category-color
                
        body
            &.search-overlay 
                &:after
                    +below(cut)
                        background-color category-color
        .icon-menu
            fill category-color
            
        .box-body
            h2
                color category-color
            .tags a
                color category-color
                border 1px solid category-color
            .category
                button
                    border 1px solid category-color
                    padding 5px 10px
                    border-radius 5px
                width 50%
                float right
            .resources
                button
                    border 1px solid category-color
                    padding 5px 10px
                    border-radius 5px
                width 50%
                float right
            .icon
                flex-grow 1
                width 50%
                float left
                left 85%
        .robot-photo
            img
                max-height 300px
            width 60%
            float right
            min-width 50px
            display  flex
            justify-content center
            align-items center
            overflow hidden
        .sidebar
            float right
            width 30%
            min-width 200px
            border 2px solid black
            border-radius 5px
            padding 5px 5px
            margin 15px 15px
            
        .post-resources
            a
                color category-color
                border 1px solid category-color
                border-radius	3px
                padding .313rem .625rem
                margin 0 0 .313rem
                z-index 50
                display inline-block

            width 100%
            
        .post-tags
            a
                color category-color
                border 1px solid category-color
                border-radius	3px
                padding .313rem .625rem
                margin 0 0 .313rem
                z-index 50
                display inline-block
            width 100%


        aside
            background-color category-color
            nav li a:hover
                color category-color
        .ribbon span
            background-color category-color
            &:before
                border-left 3px solid darken(category-color, 30%)
                border-top 3px solid darken(category-color, 30%)
            &:after
                border-right 3px solid darken(category-color, 30%)
                border-top 3px solid darken(category-color, 30%)
        footer
            background-color category-color
