themes = {
    post-aerial: #B31917,
    post-component: #000000,
    post-marine: #032aaf,
    post-meta: #7D669E,
    post-ground: #10aa00,
    post-manipulator: #D7772E
}

for theme, category-color in themes
    .{theme}
        .title-category
            color category-color
        .post-content
            h1,h2,h3,h4
                color category-color
                a
                    border-bottom 2px dashed category-color
            a
                color category-color
                &:hover
                    background-color category-color
                    color #fff
            strong
                color category-color
            p,
            li
                code
                    color category-color
            blockquote
                border-left .313rem solid category-color

        .post-vendor
            font-size rem(14px)
            color #b2bac2
            position absolute
            top 5px
            padding 0 1rem

        .post-container-icon
            height 100px

        .header-post,
        .header-site
            background-color category-color
            h1
                color category-color
                text-shadow 3px 3px darken(category-color, 20%)
            p
                color darken(category-color, 50%)
                margin 10px
        .bar-header
            .logo a
                color category-color
        .author .email
            color category-color

        .share a
            &:hover svg
                fill category-color
                
        body
            &.search-overlay 
                &:after
                    +below(cut)
                        background-color category-color
        .icon-menu
            fill category-color
            
        .box-body
            h2
                color category-color
            .tags a
                color category-color
                border 1px solid category-color
            .category
                button
                    border 1px solid category-color
                    padding 5px 10px
                    border-radius 5px
                width 50%
                float right
            .resources
                button
                    border 1px solid category-color
                    padding 5px 10px
                    border-radius 5px
                width 50%
                float right
                ul
                  list-style none
                  margin 0
                  padding 0 1.6rem !important
            .icon
                flex-grow 1
                width 50%
                float left
        .robot-photo
            img
                border-radius 15px
                border 5px solid darken(category-color, 20%)
                max-height rem(400px)
                max-width rem(360px)
            display flex
            justify-content center
            align-items center
            overflow hidden
            flex-grow 1
            flex-shrink 0
            margin 15px 15px 15px 15px
        .infobox
            width 30%
            min-width 25rem
            border 5px solid darken(category-color, 20%)
            border-radius 15px
            padding 5px 5px
            margin 15px 15px
            flex-grow 1
            flex-shrink 0
            background-color white
            a
                color darken(category-color, 20%)
        .postflex
            display flex
            flex-direction row-reverse
            flex-wrap wrap
            max-width 800px
            margin auto
            margin-top rem(50px)
            top rem(33px)
        .post-category
            a
                color category-color
                border 1px solid category-color
                border-radius	3px
                padding .313rem .625rem
                margin 0 0 .313rem
                z-index 50
                display inline-block

            width 100%
        .post-resources
            a
                color category-color
                border 1px solid category-color
                border-radius	3px
                padding .313rem .625rem
                margin 0 0 .313rem
                z-index 50
                display inline-block
            width 100%   
        .post-tags
            a
                color category-color
                border 1px solid category-color
                border-radius	3px
                padding .313rem .625rem
                margin 0 0 .313rem
                z-index 50
                display inline-block
            width 100%


        aside
            background-color category-color
            nav li a:hover
                color category-color
        .ribbon span
            background-color category-color
            &:before
                border-left 3px solid darken(category-color, 30%)
                border-top 3px solid darken(category-color, 30%)
            &:after
                border-right 3px solid darken(category-color, 30%)
                border-top 3px solid darken(category-color, 30%)
        footer
            background-color category-color
        .question
            border 1px solid category-color
